body.aaaaab li,
body.aaaabb li,
body.aaabab li,
body.aaabbb li,
body.aabaab li,
body.aababb li,
body.aabbab li,
body.aabbbb li,
body.abaaab li,
body.abaabb li,
body.ababab li,
body.ababbb li,
body.abbaab li,
body.abbabb li,
body.abbbab li,
body.abbbbb li,
body.baaaab li,
body.baaabb li,
body.baabab li,
body.baabbb li,
body.babaab li,
body.bababb li,
body.babbab li,
body.babbbb li,
body.bbaaab li,
body.bbaabb li,
body.bbabab li,
body.bbabbb li,
body.bbbaab li,
body.bbbabb li,
body.bbbbab li,
body.bbbbbb li
{ color: #EEE; }
body.aaaaab li.aaaaab,
body.aaaabb li.aaaabb,
body.aaabab li.aaabab,
body.aaabbb li.aaabbb,
body.aabaab li.aabaab,
body.aababb li.aababb,
body.aabbab li.aabbab,
body.aabbbb li.aabbbb,
body.abaaab li.abaaab,
body.abaabb li.abaabb,
body.ababab li.ababab,
body.ababbb li.ababbb,
body.abbaab li.abbaab,
body.abbabb li.abbabb,
body.abbbab li.abbbab,
body.abbbbb li.abbbbb,
body.baaaab li.baaaab,
body.baaabb li.baaabb,
body.baabab li.baabab,
body.baabbb li.baabbb,
body.babaab li.babaab,
body.bababb li.bababb,
body.babbab li.babbab,
body.babbbb li.babbbb,
body.bbaaab li.bbaaab,
body.bbaabb li.bbaabb,
body.bbabab li.bbabab,
body.bbabbb li.bbabbb,
body.bbbaab li.bbbaab,
body.bbbabb li.bbbabb,
body.bbbbab li.bbbbab,
body.bbbbbb li.bbbbbb
{ color: #000; }
body.syll-length.aaaaab li span.syll,
body.syll-length.aaaabb li span.syll,
body.syll-length.aaabab li span.syll,
body.syll-length.aaabbb li span.syll,
body.syll-length.aabaab li span.syll,
body.syll-length.aababb li span.syll,
body.syll-length.aabbab li span.syll,
body.syll-length.aabbbb li span.syll,
body.syll-length.abaaab li span.syll,
body.syll-length.abaabb li span.syll,
body.syll-length.ababab li span.syll,
body.syll-length.ababbb li span.syll,
body.syll-length.abbaab li span.syll,
body.syll-length.abbabb li span.syll,
body.syll-length.abbbab li span.syll,
body.syll-length.abbbbb li span.syll,
body.syll-length.baaaab li span.syll,
body.syll-length.baaabb li span.syll,
body.syll-length.baabab li span.syll,
body.syll-length.baabbb li span.syll,
body.syll-length.babaab li span.syll,
body.syll-length.bababb li span.syll,
body.syll-length.babbab li span.syll,
body.syll-length.babbbb li span.syll,
body.syll-length.bbaaab li span.syll,
body.syll-length.bbaabb li span.syll,
body.syll-length.bbabab li span.syll,
body.syll-length.bbabbb li span.syll,
body.syll-length.bbbaab li span.syll,
body.syll-length.bbbabb li span.syll,
body.syll-length.bbbbab li span.syll,
body.syll-length.bbbbbb li span.syll
{ background-color: transparent; }
body.syll-length.aaaaab li.aaaaab span.syll.long,
body.syll-length.aaaabb li.aaaabb span.syll.long,
body.syll-length.aaabab li.aaabab span.syll.long,
body.syll-length.aaabbb li.aaabbb span.syll.long,
body.syll-length.aabaab li.aabaab span.syll.long,
body.syll-length.aababb li.aababb span.syll.long,
body.syll-length.aabbab li.aabbab span.syll.long,
body.syll-length.aabbbb li.aabbbb span.syll.long,
body.syll-length.abaaab li.abaaab span.syll.long,
body.syll-length.abaabb li.abaabb span.syll.long,
body.syll-length.ababab li.ababab span.syll.long,
body.syll-length.ababbb li.ababbb span.syll.long,
body.syll-length.abbaab li.abbaab span.syll.long,
body.syll-length.abbabb li.abbabb span.syll.long,
body.syll-length.abbbab li.abbbab span.syll.long,
body.syll-length.abbbbb li.abbbbb span.syll.long,
body.syll-length.baaaab li.baaaab span.syll.long,
body.syll-length.baaabb li.baaabb span.syll.long,
body.syll-length.baabab li.baabab span.syll.long,
body.syll-length.baabbb li.baabbb span.syll.long,
body.syll-length.babaab li.babaab span.syll.long,
body.syll-length.bababb li.bababb span.syll.long,
body.syll-length.babbab li.babbab span.syll.long,
body.syll-length.babbbb li.babbbb span.syll.long,
body.syll-length.bbaaab li.bbaaab span.syll.long,
body.syll-length.bbaabb li.bbaabb span.syll.long,
body.syll-length.bbabab li.bbabab span.syll.long,
body.syll-length.bbabbb li.bbabbb span.syll.long,
body.syll-length.bbbaab li.bbbaab span.syll.long,
body.syll-length.bbbabb li.bbbabb span.syll.long,
body.syll-length.bbbbab li.bbbbab span.syll.long,
body.syll-length.bbbbbb li.bbbbbb span.syll.long
{ background-color: #CCC; }
body.syll-length.aaaaab li.aaaaab span.syll:not(.long),
body.syll-length.aaaabb li.aaaabb span.syll:not(.long),
body.syll-length.aaabab li.aaabab span.syll:not(.long),
body.syll-length.aaabbb li.aaabbb span.syll:not(.long),
body.syll-length.aabaab li.aabaab span.syll:not(.long),
body.syll-length.aababb li.aababb span.syll:not(.long),
body.syll-length.aabbab li.aabbab span.syll:not(.long),
body.syll-length.aabbbb li.aabbbb span.syll:not(.long),
body.syll-length.abaaab li.abaaab span.syll:not(.long),
body.syll-length.abaabb li.abaabb span.syll:not(.long),
body.syll-length.ababab li.ababab span.syll:not(.long),
body.syll-length.ababbb li.ababbb span.syll:not(.long),
body.syll-length.abbaab li.abbaab span.syll:not(.long),
body.syll-length.abbabb li.abbabb span.syll:not(.long),
body.syll-length.abbbab li.abbbab span.syll:not(.long),
body.syll-length.abbbbb li.abbbbb span.syll:not(.long),
body.syll-length.baaaab li.baaaab span.syll:not(.long),
body.syll-length.baaabb li.baaabb span.syll:not(.long),
body.syll-length.baabab li.baabab span.syll:not(.long),
body.syll-length.baabbb li.baabbb span.syll:not(.long),
body.syll-length.babaab li.babaab span.syll:not(.long),
body.syll-length.bababb li.bababb span.syll:not(.long),
body.syll-length.babbab li.babbab span.syll:not(.long),
body.syll-length.babbbb li.babbbb span.syll:not(.long),
body.syll-length.bbaaab li.bbaaab span.syll:not(.long),
body.syll-length.bbaabb li.bbaabb span.syll:not(.long),
body.syll-length.bbabab li.bbabab span.syll:not(.long),
body.syll-length.bbabbb li.bbabbb span.syll:not(.long),
body.syll-length.bbbaab li.bbbaab span.syll:not(.long),
body.syll-length.bbbabb li.bbbabb span.syll:not(.long),
body.syll-length.bbbbab li.bbbbab span.syll:not(.long),
body.syll-length.bbbbbb li.bbbbbb span.syll:not(.long)
{ background-color: #EEE; }
